Flask==0.11.1
Flask_Migrate==2.0.3
Flask_Bootstrap==3.3.7.1
SQLAlchemy==1.0.14
alembic
Flask_Script==2.0.5
Flask_Mail==0.9.1
tqdm==4.11.2
Flask_SQLAlchemy==2.2
Flask_Login==0.4.0
setuptools==35.0.2
Flask_Moment==0.5.1
Werkzeug==0.11.10
msgpack_python==0.4.8
netaddr==0.7.19
pyzmq==16.0.2
supervisor
gunicorn
